Repository saltstack/pytest-shell-utilities: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-pylint-spelling-words, check-copyright-headers

Path conditions:
  sort-pylint-spelling-words: any of: ^\.pylint-spelling-words$
  check-copyright-headers: any of: ^.*\.py$

Skip test when the GLIBC race conditions are met, instead of failing.
  .pylint-spelling-words
  changelog/13.improvement.rst
  src/pytestshellutils/downgraded/shell.py
  src/pytestshellutils/shell.py
  tests/functional/shell/test_subprocess.py
Due: sort-pylint-spelling-words, check-copyright-headers

Test against PyTest 7.0.x and 7.1.x
  .github/workflows/testing.yml
  changelog/13.trivial.rst
Due: none

Update pre-commit hooks
  .pre-commit-config.yaml
  changelog/13.trivial.rst
Due: none

Generate Changelog for version 1.1.0
  CHANGELOG.rst
  changelog/13.improvement.rst
  changelog/13.trivial.rst
Due: none

Remove redundant `wheel` dependency from pyproject.toml
  pyproject.toml
Due: none

Revert "Skip test when the GLIBC race conditions are met, instead of failing."
  .pylint-spelling-words
  changelog/16.improvement.rst
  src/pytestshellutils/downgraded/shell.py
  src/pytestshellutils/shell.py
  tests/functional/shell/test_subprocess.py
Due: sort-pylint-spelling-words, check-copyright-headers

Remove the redundant `wheel` dependency from pyproject.toml.
  changelog/15.trivial.rst
  pyproject.toml
Due: none

Generate Changelog for version 1.2.0
  CHANGELOG.rst
  changelog/15.trivial.rst
  changelog/16.improvement.rst
Due: none

Account for ``ProcessLookupError`` when terminating the underlying process
  changelog/18.bugfix.rst
  src/pytestshellutils/downgraded/shell.py
  src/pytestshellutils/shell.py
Due: check-copyright-headers

Generate Changelog for version 1.2.1
  CHANGELOG.rst
  changelog/18.bugfix.rst
Due: none

Support extra args/kwargs when calling ``Callback``
  src/pytestshellutils/customtypes.py
  src/pytestshellutils/downgraded/customtypes.py
  tests/unit/customtypes/test_callback.py
Due: check-copyright-headers

Support user provided callable start check functions
  changelog/20.improvement.rst
  src/pytestshellutils/downgraded/shell.py
  src/pytestshellutils/shell.py
  tests/functional/shell/test_daemon.py
Due: check-copyright-headers

Fix code coverage thresholds
  noxfile.py
Due: check-copyright-headers

Generate Changelog for version 1.3.0
  CHANGELOG.rst
  changelog/20.improvement.rst
Due: none

``Daemon.started()`` is now a context manager
  changelog/22.improvement.rst
  src/pytestshellutils/downgraded/shell.py
  src/pytestshellutils/shell.py
Due: check-copyright-headers

Generate Changelog for version 1.4.0
  CHANGELOG.rst
  changelog/22.improvement.rst
Due: none

Update hooks
  .pre-commit-config.yaml
Due: none

Improve and switch to google style docstrings
  .pylint-spelling-words
  changelog/24.doc.rst
  docs/conf.py
  src/pytestshellutils/downgraded/exceptions.py
  src/pytestshellutils/downgraded/plugin.py
  src/pytestshellutils/downgraded/shell.py
  src/pytestshellutils/downgraded/utils/__init__.py
  src/pytestshellutils/downgraded/utils/ports.py
  src/pytestshellutils/downgraded/utils/processes.py
  src/pytestshellutils/downgraded/utils/socket.py
  src/pytestshellutils/downgraded/utils/time.py
  src/pytestshellutils/exceptions.py
  src/pytestshellutils/plugin.py
  src/pytestshellutils/shell.py
  src/pytestshellutils/utils/__init__.py
  src/pytestshellutils/utils/ports.py
  src/pytestshellutils/utils/processes.py
  src/pytestshellutils/utils/socket.py
  src/pytestshellutils/utils/time.py
Due: sort-pylint-spelling-words, check-copyright-headers

Fix types
  src/pytestshellutils/utils/processes.py
Due: check-copyright-headers

The project is now Py>=3.7 and is now 100% typed, including tests.
  .pre-commit-config.yaml
  changelog/26.improvement.rst
  noxfile.py
  setup.cfg
  src/pytestshellutils/__init__.py
  src/pytestshellutils/customtypes.py
  src/pytestshellutils/downgraded/customtypes.py
  src/pytestshellutils/downgraded/shell.py
  src/pytestshellutils/downgraded/utils/__init__.py
  src/pytestshellutils/downgraded/utils/ports.py
  src/pytestshellutils/plugin.py
  src/pytestshellutils/shell.py
  src/pytestshellutils/utils/__init__.py
  src/pytestshellutils/utils/ports.py
  tests/conftest.py
  tests/functional/shell/test_daemon.py
  tests/functional/shell/test_fixture.py
  tests/functional/shell/test_script_subprocess.py
  tests/functional/shell/test_subprocess.py
  tests/functional/test_exceptions.py
  tests/unit/customtypes/test_callback.py
  tests/unit/utils/processes/test_processresult.py
  tests/unit/utils/processes/test_processresult_matcher.py
  tests/unit/utils/test_format_callback_to_string.py
  tests/unit/utils/test_ports.py
  tests/unit/utils/test_time.py
Due: check-copyright-headers

Generate Changelog for version 1.5.0
  CHANGELOG.rst
  changelog/24.doc.rst
  changelog/26.improvement.rst
Due: none

The ``shell`` fixture is now ``session`` scoped
  changelog/29.improvement.rst
  src/pytestshellutils/downgraded/plugin.py
  src/pytestshellutils/plugin.py
Due: check-copyright-headers

Generate Changelog for version 1.6.0
  CHANGELOG.rst
  changelog/29.improvement.rst
Due: none

Update pre-commit hook versions
  .pre-commit-config.yaml
  changelog/34.trivial.rst
Due: none

The `Subprocess.run()` method can now override the `cwd`
  changelog/33.bugfix.rst
  src/pytestshellutils/downgraded/shell.py
  src/pytestshellutils/shell.py
  tests/functional/shell/test_fixture.py
  tests/functional/shell/test_subprocess.py
Due: check-copyright-headers
